<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>afternoon project</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <h1>All about Davia and Riley</h1>
    <h2>Davia is short.</h2>
    <h2>Riley is tall.</h2>
    <h2>They are both super cool.</h2>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/subscribe">Subscribe</a></li>
    </ul>
  </body>
</html>
